<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="33000">
        <setting label="33001" type="lsep"/>
        <setting label="33002" type="text" id="espn_proxy" default=""/>
        <setting label="33003" type="text" id="nhltv_proxy" default=""/>
    </category>
</settings>