<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="33000">
        <setting label="33005" type="lsep"/>
        <setting label="33006" type="text" id="user_agent" default="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36"/>
    </category>
    <category label="33009">
        <setting label="33010" type="bool" id="legacy_resume_fix" default="false"/>
    </category>
</settings>